/week03_ca/build/
/week03_ca/dist/
/week04_ca/nbproject/private/
/week04_ca/build/
/week04_ca/dist/
week03_ca/nbproject/ant-deploy.xml
week03_ca/nbproject/ant-deploy.xml
week03_ca/nbproject/private/private.properties
week03_ca/web/WEB-INF/glassfish-resources.dtd
week04_ca/build.xml
week04_ca/nbproject/build-impl.xml
week04_ca/nbproject/genfiles.properties
week04_ca/nbproject/project.properties
week04_ca/nbproject/project.xml
week04_ca/nbproject/rest-build.xml
week04_ca/src/conf/persistence.xml
/week4_ca_personal/build/
/week4_ca_personal/dist/
/week4_ca_personal/nbproject/private/
/week4_ca_personal/web/bower_components/
week4_ca_personal/nbproject/ant-deploy.xml
/week05_ca/nbproject/private/
/week05_ca/build/